4year/1semester/DAW/Aula2/agenda-de-contactos.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (entrada | grupo)* >
<!ELEMENT grupo (grupo | ref | entrada)* >
<!ELEMENT entrada (nome,email,telefone?) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT telefone (#PCDATA) >
<!ELEMENT ref EMPTY >

<!ATTLIST entrada
            ident ID #REQUIRED
            tipo CDATA #REQUIRED
>
<!ATTLIST grupo
            ident ID #REQUIRED

>
<!ATTLIST ref
            apontado ID #REQUIRED
>